In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#  we need to have 3 types of kernals
df = pd.read_csv("/content/sample_data/SVM_Dataset_Glass.csv")
df.head()

   Id       RI     Na    Mg    Al    Si      K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [ ]:
# now take the x and y
x = df.drop(["Type"],axis=1)
x

      Id       RI     Na    Mg    Al    Si      K    Ca    Ba   Fe
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 10 columns]

In [ ]:
y = df["Type"]
y

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

In [ ]:
# create test , train and split the datase
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn import svm
from sklearn.svm import SVC

In [ ]:
model1 = SVC(kernel="linear")
model1.fit(xtrain,ytrain)
y_pred = model1.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

print(accuracy_score(ytest,y_pred))
print(confusion_matrix(ytest,y_pred))
print(classification_report(ytest,y_pred))

1.0
[[13  0  0  0  0  0]
 [ 0 13  0  0  0  0]
 [ 0  0  4  0  0  0]
 [ 0  0  0  3  0  0]
 [ 0  0  0  0  1  0]
 [ 0  0  0  0  0  9]]
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        13
           3       1.00      1.00      1.00         4
           5       1.00      1.00      1.00         3
           6       1.00      1.00      1.00         1
           7       1.00      1.00      1.00         9

    accuracy                           1.00        43
   macro avg       1.00      1.00      1.00        43
weighted avg       1.00      1.00      1.00        43

In [ ]:
# Creating the models for kernels like rbf , poly and sigmoid
model2 = SVC(kernel='sigmoid')
model3 = SVC(kernel='rbf')
model4 = SVC(kernel="poly")

In [ ]:
model2.fit(xtrain,ytrain)
model3.fit(xtrain,ytrain)
model4.fit(xtrain,ytrain)

SVC(kernel='poly')

In [ ]:
y_pred2 = model2.predict(xtest)
y_pred3 = model2.predict(xtest)
y_pred4 = model2.predict(xtest)

In [ ]:
print("Prediction of model2 is " , accuracy_score(ytest,y_pred2))
print("Prediction of model2 is " , accuracy_score(ytest,y_pred3))
print("Prediction of model2 is " , accuracy_score(ytest,y_pred4))

Prediction of model2 is  0.5116279069767442
Prediction of model2 is  0.5116279069767442
Prediction of model2 is  0.5116279069767442